$headerHeight: 80px;

.site-header {
    background-color: #ffffff;
    min-height: $headerHeight;
    z-index: 999;
    width: 100vw;
    max-width: 100%;

    &--is-sticky {
        position: sticky;
        top: 0;
    }
}

.header-bar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: $headerHeight;
    width: 100%;
    max-width: 100vw;
}

.header-bar {
    display: flex;
    width: 100%;
    max-width: $maxPageWidth;
    margin: 0 auto;
    height: $headerHeight;
    justify-content: space-between;
    padding: 0 15px;
}

.site-identity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
    height: 100%;
}

.site-title {
    display: block;
    width: 100%;
    height: 50px;
    max-width: 150px;
    margin-top: 5px;

    a {
        display: block;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}

@media(max-width: 1024px){
    .site-title {
        max-width: 110px;
    }
}